.task {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 1.2px solid #c4cae0;
    border-radius: 5px;
    margin-bottom: 4px;
    padding: 10px 40px 10px 10px;
    background-color: #F5FFFA;
    box-shadow: 0px 1px 2px #5e4949;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.task:hover {
    background-color: rgb(245, 245, 245);
}

.circle-icon svg {
    height: 100%;
    font-size: 20px;
    padding-top: 3px;
}

.label {
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    font-size: inherit;
    letter-spacing: inherit;
}

.delete svg  {
    font-size: 28px;
    padding-top: 3px;
    position: absolute;
    translate: 0 -50%;
    right: 10px;
    cursor: pointer;
}

.d-none {
    display: none;
}

.renamed-form {
    
    padding-left: 10px;
    width: 100%;
}

.renamed-form input {
    outline: 0;
    border: none;
    background-color: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    width: 100%;
    border-bottom: 1px solid darkgrey;
}

.renamed-form input:focus {
    background-color:  rgb(245, 245, 245);
}